<div class="container">
  <div class="jumbotron">
    <h1>Policies Projection Calculations</h1>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Representative Number</th>
          <th>Run Time</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <% @group_ratings.each do |group_rating| %>
        <tr>
          <th scope="row"> <%= group_rating.id %> </th>
          <td><%= group_rating.process_representative %> </td>
          <td><%= group_rating.created_at %> </td>
          <td><%= link_to 'View Group Rating Info', group_rating_path(group_rating.id) %></td>
        </tr>
        <% end %>

      </tbody>
    </table>



  </div>


</div>
