<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %>!</h1>
    <h3>
      Attached is <%= @representative.abbreviated_name %>'s policy calculation export!
    </h3>

    <p>
     Thank you!
    </p>

    <p>
      Your favorite TPA!
    </p>
  </body>
</html>
