<div class="container">
  <div class="jumbotron text-center">
    <h1>Exceptions</h1>
  </div>

  <%= form_tag(group_rating_exceptions_path, :method => "get", id: "search-form", remote: true ) do %>
      <%= render partial: 'shared/representative_policy_search', locals: {representatives: @representatives} %>
  <% end %>

    <br>
    <%= render partial: 'group_rating_exceptions/list', locals: {group_rating_exceptions: @group_rating_exceptions} %>


</div>
