<div class="container" style="margin-bottom: 100px;">
  <div class="jumbotron">
    <h1 class="text-center">Claim Note Categories</h1>
  </div>

  <div class="text-right" style="margin-bottom: 15px;">
    <%= link_to 'Back to Rates', rates_path, class: 'btn btn-info' %>
  </div>

  <h3>New Claim Note Category</h3>
  <hr style="margin-top: 0;">

  <div class="row">
    <div class="col-sm-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
