<div class="container">
  <div class="jumbotron text-center">
    <h1>Begin Import Process</h1>
    <div>
      <%= form_for @import do |f| %>

          <div class="form-group" >
            <%= f.label :process_representative %>
            <%= f.select(:representative_id, options_from_collection_for_select(@representatives, :id, :abbreviated_name)) %>
          </div>

          <%= f.submit 'Import Files', class: 'btn btn-info' %>
      <% end %>



    </div>
    </div>

  </div>
