<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Jason,</h1>
    <h3>
      Exception: <%= @exception %>
    </h3>
    <h3>
      context_hash: <%= @context_hash %>
    </h3>

    <p>
     Thank you!
    </p>

  </body>
</html>
