<table class="table table-hover">
  <%= page_entries_info program_rejections %>
  <thead>
    <tr>
      <th>Policy Number</th>
      <th>Account Name</th>
      <th>Policy Status</th>
      <th>Reject Reason</th>
      <th>Program Type</th>
      <th>Representative</th>
      <th>Action</th>
      <th>Dismiss</th>
    </tr>
  </thead>
  <tbody>
   <% program_rejections.order("representative_id").each do |program_rejection| %>
    <%= render partial: 'program_rejections/rejection', locals: { program_rejection: program_rejection, program_rejections: program_rejections } %>
  <% end %>

  </tbody>
</table>
<%= will_paginate program_rejections %>
