/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$grid-float-breakpoint: 1285px;

@import 'trix';
@import 'normalize';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'bootstrap-datetimepicker';
@import 'animate';
@import 'select2';
@import 'select2-bootstrap';

.table td, th {
  text-align: center;
}

#programHistoryTable .table tr .header {
  background-color: blue;
}

.dropdown-toggle {
  width: 25%;
}

.navbar-default .navbar-header .brand-logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  margin-left: 25px;
}

.navbar-default .navbar-header .mmhr-brand-logo {
  background: image-url("minute_men_hr_logo.jpg") center / contain no-repeat;
  width: 150px;
  margin-left: 25px;
}

.navbar-left {
  li {
    padding: 0;
  }
}

@media (min-width: 769px) and (max-width: 1425px) {
  ul.nav.navbar-nav {
    li {
      a {
        padding: 15px 7.5px;
      }
    }
  }
}

@media (max-width: 1285px) {
  ul.nav.navbar-nav {
    background-color: white;
    text-align: center;
  }
}

@media (max-width: 767px) {
  nav .account-header {
    display: none;
  }
}


html, body {
  height: 100%;
}

main {
  padding-top: 115px;
  min-height: calc(100% - 51px);
}

.account-header {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 15px;

  .account-text {
    color: rgb(204, 204, 204);
    padding-top: 15px;
  }

  @media (max-width: 1440px) {
    text-align: left;
  }
}

.jumbotron {
  padding-top: 25px;
}

.jumbotron-white {
  background-color: white;
}


#accountNotesTable .note-description-column {
  text-align: left;
}

#accountNotesTable .note-description {
  text-align: left;
}

.panel {
  margin: 0px;
}

.panel-note a {
  color: #333333;
}

.retention-nav, .retention-nav:hover {
  color: #9d9d9d;
  text-decoration: none;
}

.ret-nav-div {
  padding: 15px 0 0 0;
}

trix-editor {
  background-color: white;
}

.invalid-feedback {
  color: $brand-danger;
  font-size: 85%;
  font-style: italic;
}

.form-control.is-invalid {
  border-color: $brand-danger;
}

.form-group-invalid label {
  color: $brand-danger;
}

$search-results-boarder: 1px solid rgb(204, 204, 204);
$radius: 4px;

#search-claim, #search-policy {
  margin: 8px 4px;
  width: auto;
  max-width: 150px;

  @media(max-width: 1440px) {
    max-width: 125px;
  }

  #claim-search-wrapper, #policy-search-wrapper {
    position: absolute;
    top: 36px;
    left: 0;
    background-color: #FFF;
    min-height: 50px;
    width: 100%;
    border: $search-results-boarder;
    border-radius: $radius;
  }

  #claim-search-results, #policy-search-results {
    list-style-type: none;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    z-index: 999;

    ul {
      width: 100%;
      list-style: none;
      padding-left: 0;

      li:nth-of-type(even) {
        background-color: rgb(245, 245, 245);
      }

      .claimant-name, .account-name {
        color: rgb(154, 154, 154);
        font-size: 12px;
        white-space: normal;
      }

      li {
        padding: 0 8px;

        a {
          padding: 4px 0;
          white-space: nowrap;
          width: 100%;
        }
      }
    }
  }

  #search-spinner, #policy-search-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    i {
      color: rgb(204, 204, 204);
      font-size: 36px;
    }
  }
}

.navbar-master {
  height: 49px;
  z-index: 1031;
  margin-bottom: 0;
}

.claim-container {
  .panel {
    min-height: 100px;

    .panel-body {
      padding: 5px 10px;
    }
  }

  .mira-tab-panel {
    border-color: $brand-primary;

    .panel-heading {
      padding: 10px 0 0;
      border-bottom: none;
      background-color: #222;
      position: relative;

      .claim-number {
        position: absolute;
        color: white;
        font-weight: 700;
        top: 10px;
        right: 15px;
        font-size: 18px;
      }

      ul.nav-tabs {
        padding: 0 10px;
        border-bottom-color: $brand-primary;

        li {
          a {
            border-color: $brand-primary;
            border-bottom: none;
          }
        }

        li:not(.active) {
          a {
            background-color: $brand-primary;
            color: white;
          }
        }
      }
    }

    .panel-body {
      padding: 0 10px;

      table.table-bordered {
        margin-bottom: 10px;

        th, td {
          padding-left: 15px;
          text-align: left;
        }
      }
    }
  }


  dl {
    width: 100%;
    margin: 0 0 3px;

    dt {
      width: 60%;
      text-align: left;
    }

    dd {
      margin-left: calc(60% + 20px);
      width: auto;
      text-align: right;
    }
  }

  .form-group {
    div {
      text-align: right;
    }
  }
}

.text-bold {
  font-weight: 700;
}

footer {
  padding: 15px 0;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

.btn.btn-transparent {
  background-color: transparent;
  padding: 5px;
  border: none;
}

.manage-container {
  .btn-lg {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 32px;
    margin-bottom: 30px;
    white-space: normal;
  }
}