/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require trix
 */
@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'bootstrap-datetimepicker';
@import 'animate';

.table td, th {
  text-align: center;
}

#programHistoryTable .table tr .header {
  background-color: blue;
}

.dropdown-toggle {
  width: 25%;
}

.navbar-default .navbar-header .arm-brand-logo {
  background: image-url("logo.png") center / contain no-repeat;
  width: 150px;
  margin-left: 25px;
}

.navbar-default .navbar-header .mmhr-brand-logo {
  background: image-url("minute_men_hr_logo.jpg") center / contain no-repeat;
  width: 150px;
  margin-left: 25px;
}

@media (max-width: 767px) {
  nav .account-header {
    display: none;
  }
}


body {
  padding-top: 125px;
}

.account-header {
  margin-top: 50px;
  text-align: center;
}

.jumbotron-white {
  background-color: white;
}


#accountNotesTable .note-description-column {
  text-align: left;
}

#accountNotesTable .note-description {
  text-align: left;
}

.panel {
  margin: 0px;
}

.panel-note a {
  color: #333333;
}

.retention-nav, .retention-nav:hover {
  color: #9d9d9d;
  text-decoration: none;
}

.ret-nav-div {
  padding: 15px 0 0 0;
}

trix-editor {
  background-color: white;
}

.invalid-feedback {
  color: $brand-danger;
  font-size: 85%;
  font-style: italic;
}

.form-control.is-invalid {
  border-color: $brand-danger;
}

.form-group-invalid label {
  color: $brand-danger;
}

#search {
  margin: 3px 0 0 0;
  width: 275px;

//  .twitter-typeahead {
//    margin: 5px 0 0 0;
//    width: 100%;
//
//    .typeahead {
//      border-radius: 4px 0 0 4px;
//    }
//
//    .tt-suggestion {
//      background-color: white;
//      border: solid rgb(204, 204, 204) 1px;
//      border-radius: 4px;
//      margin: -1px 0 0 0;
//      min-width: 206px;
//      padding: 4px 8px;
//      position: relative;
//      white-space: nowrap;
//      z-index: 1031;
//    }
//
//    .typeahead-wrapper {
//      display: block;
//      margin: 50px 0;
//    }
//    .tt-dropdown-menu {
//      background-color: #fff;
//      border: 1px solid #000;
//    }
//    .tt-suggestion.tt-cursor {
//      background-color: #ccc;
//    }
//    .triggered-events {
//      float: right;
//      width: 500px;
//      height: 300px;
//    }
//  }
}

.navbar-master {
  height: 49px;
  z-index: 1031;
}