/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require trix
 */
  @import "normalize";
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";




.table td, th {
     text-align: center;
}

#programHistoryTable .table tr .header{
     background-color: blue;
  }

.dropdown-toggle {
  width: 25%;
}

.navbar-default .navbar-header .arm-brand-logo {
  background: image-url("logo.png") center / contain no-repeat;
  width: 150px;
  margin-left: 25px;
}

.navbar-default .navbar-header .mmhr-brand-logo {
  background: image-url("minute_men_hr_logo.jpg") center / contain no-repeat;
  width: 150px;
  margin-left: 25px;
}

@media (max-width: 767px) {
nav .account-header {
        display:none;
  }
}


body {
  padding-top: 125px;
}

.account-header {
  margin-top: 50px;
  text-align: center;
}

.jumbotron-white {
  background-color: white;
}


#accountNotesTable .note-description-column {
    text-align: left;
}

#accountNotesTable .note-description {
    text-align: left;
}

.panel {
  margin: 0px;
}

.panel-note a {
  color: #333333;
}


trix-editor {
  background-color: white;
}
