<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h3>Hello <%= @user.email %>,</h3>
  <br>
  <h3>
    Below is a link to a zip file of all of the quotes created in the last processing for <%= @representative.abbreviated_name %>. There are <%= @num_accounts %> pdfs in the zip file.
  </h3>

  <% if @zip_file_url.present? %>
    <p>Zip File Link: <%= link_to "#{@representative.abbreviated_name} Zip File", @zip_file_url %></p>
  <% end %>

  <p>
    Thank you!
  </p>

  <p>
    Your favorite TPA
  </p>
</body>
</html>
