<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <h2>BWC Policy Coverage Status History</h2>
      <ul class="list-group">
        <div class="list-group-item active">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <h5>Coverage Status</h5>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <h5>Effective Date</h5>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <h5>End date</h5>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <h5>Lapse Days</h5>
            </div>
          </div>
        </div>

        <% status_histories.order("coverage_effective_date desc").each do |status| %>
          <div class="text-center list-group-item">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 ">
                <p><%= status.coverage_status %></p>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 ">
                <p><%= status.coverage_effective_date %></p>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 ">
                <p><%= status.coverage_end_date %></p>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 ">
                <p><%= status.lapse_days %></p>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
