<li>
  <div id='search' class="input-group">
    <input type="text" class="form-control">
    <ul id="claim-search-results" class="hidden"></ul>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">Search</button>
    </span>
  </div>
</li>