<li>
  <div id='search-claim' class="input-group">
    <input type="text" class="form-control" title="Claim Search" placeholder="Search Claims..." value="<%= @claim_calculation&.claim_number&.strip %>">
    <div id="claim-search-wrapper" style="display:none;">
      <div id="claim-search-results" class="hidden"></div>
      <div id="search-spinner" style="display:none;">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
  </div>

  <script>
    $(function () {
      claimSearchListenerAndResults();
    });
  </script>
</li>